* {
  padding: 0;
  margin: 0;
}

html::-webkit-scrollbar {
  display: none;
}

.container-utama {
  background-image: url(assets/Rectangle\ 5.png);
  background-size: cover;
  height: 100vh;
  color: white;
}

.navbar {
  height: 50px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  align-items: center;
}

.nav-left span {
  padding-left: 30px;
  font-family: "Belanosima", sans-serif;
  font-size: 15px;
}

a {
  color: white;
  text-decoration: none;
}

.nav-left a:hover {
  color: #0540f2;
}

.nav-right a:hover {
  color: #0540f2;
}

.logo h4 {
  font-family: "Belanosima", sans-serif;
  font-size: 30px;
}

.nav-right span {
  padding-right: 30px;
  font-family: "Belanosima", sans-serif;
  font-size: 15px;
}

.title {
  max-width: 800px;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.title p {
  margin-bottom: 50px;
  font-family: "Belanosima", sans-serif;
  font-size: 98px;
}

.title span {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  max-width: 800px;
}

.btn-title {
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.get-started {
  width: 150px;
  height: 30px;
  border-radius: 50px;
  border-color: white;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Belanosima", sans-serif;
  font-size: 15px;
}

.get-started:hover {
  background-color: #0540f2;
  border: none;
  cursor: pointer;
}

.learn-more {
  width: 150px;
  height: 30px;
  margin-left: 200px;
  border-radius: 50px;
  border-color: white;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Belanosima", sans-serif;
  font-size: 15px;
}

.learn-more:hover {
  background-color: #0540f2;
  border: none;
  cursor: pointer;
}

/* ---------------Container-2----------- */

.container-2 {
  background-color: #eaeaea;
  padding-top: 100px;
}

.title-con-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-about h4 {
  margin-right: 40px;
  max-width: 600px;
  font-family: "Belanosima", sans-serif;
  font-size: 48px;
  color: #0540f2;
}

.right-about {
  max-width: 400px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.con-img-utama {
  display: flex;
  justify-content: center;
}

.con-img {
  display: flex;
  padding-top: 30px;
  justify-content: center;
}

.img1 {
  width: 350px;
  height: 500px;
  background-color: aqua;
  border-radius: 25px;
  margin-right: 75px;
}

.img1 img {
  width: 100%;
  height: 100%;
}

.card-1 {
  width: 300px;
  height: 500px;
  /* background-color: aqua; */
  border-radius: 25px;
  margin-left: 40px;
  flex-direction: column;
}

.img-2 {
  width: 300px;
  height: 300px;
  background-color: aqua;
  border-radius: 25px;
}

.img-2 img {
  width: 100%;
  height: 100%;
}

.content-paragraf {
  padding-top: 50px;
}

.btn-read {
  width: 150px;
  height: 30px;
  margin-top: 60px;
  border-radius: 60px;
  background-color: #0540f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Belanosima", sans-serif;
  font-size: 15px;
  color: white;
}

.btn-read:hover {
  border: 1px solid;
  cursor: pointer;
  background-color: #00279c;
}

.right-card {
  width: 180px;
  max-height: 500px;
  /* background-color: antiquewhite; */
  margin-top: 30px;
  margin-left: 70px;
}

.card-2 {
  width: 120px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-2 span {
  font-family: "Belanosima", sans-serif;
  font-size: 20px;
}

.card-2 p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.card-3 {
  width: 120px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 25px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-3 span {
  font-family: "Belanosima", sans-serif;
  font-size: 20px;
}

.card-3 p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

/* ------------Containe - 3 --------------- */

.container-3 {
  background-color: #eaeaea;
  padding-top: 150px;
}

.title-con-3 h4 {
  text-align: center;
  font-family: "Belanosima", sans-serif;
  font-size: 48px;
  max-width: 700px;
  margin: auto;
  color: #0540f2;
}

.paragraf-con-3 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  max-width: 500px;
  margin: auto;
  padding-top: 35px;
}

.container-cards {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.cards-1 {
  width: 300px;
  /* height: 700px; */
  /* background-color: blanchedalmond; */
}

.content-1 {
  width: 300px;
  height: 150px;
  background-color: #0540f2;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-content {
  width: 70px;
  height: 50px;
  margin-left: 20px;
}

.img-content img {
  width: 100%;
  height: 100%;
}

.paragraf-cards {
  margin-left: 30px;
}

.paragraf-cards span {
  color: white;
  font-family: "Belanosima", sans-serif;
  font-size: 18px;
}

.paragraf-cards p {
  margin-top: 10px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.content-2 {
  width: 300px;
  height: 150px;
  background-color: #0540f2;
  border-radius: 25px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-2 {
  width: 300px;
  /* height: 700px; */
  /* background-color: blanchedalmond; */
  margin-left: 50px;
}

.btn-con-3 {
  width: 250px;
  height: 45px;
  border-radius: 60px;
  background-color: #0540f2;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-con-3:hover {
  border: 1px solid;
  cursor: pointer;
  background-color: #00279c;
}

.btn-con-3 span {
  font-family: "Belanosima", sans-serif;
  font-size: 18px;
  color: white;
}

/* -------------Container -- 4 ----------- */

.container-4 {
  background-color: #eaeaea;
  padding-top: 150px;
  padding-bottom: 150px;
}

.title-con-4 h4 {
  text-align: center;
  font-family: "Belanosima", sans-serif;
  font-size: 48px;
  max-width: 700px;
  margin: auto;
  color: #0540f2;
}

.paragraf-con-4 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  max-width: 500px;
  margin: auto;
  padding-top: 35px;
}

.container-content {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  max-width: 80%;
  margin: auto;
}

.con-img-4 {
  width: 500px;
  height: 450px;
  background-color: antiquewhite;
  border-radius: 25px;
}

.con-img-4 img {
  width: 100%;
  height: 100%;
}

.card-con-4 {
  width: 480px;
  max-height: 500px;
  margin-left: 30px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
}

.icon-check {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-icon {
  width: 35px;
  height: 35px;
  background-color: antiquewhite;
}

.img-icon img {
  width: 100%;
  height: 100%;
}

.icon-check span {
  margin-left: 10px;
  font-family: "Belanosima", sans-serif;
  font-size: 20px;
}

.btn-con-4 {
  width: 250px;
  height: 40px;
  background-color: #0540f2;
  border-radius: 60px;
  margin: auto;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-con-4:hover {
  border: 1px solid;
  cursor: pointer;
  background-color: #00279c;
}

.btn-con-4 span {
  font-family: "Belanosima", sans-serif;
  font-size: 18px;
  color: white;
}

/* --------------CONTAINER----5------- */

.container-5 {
  background-color: #0540f2;
  padding-top: 50px;
  padding-bottom: 50px;
}

.title-con-5 h4 {
  text-align: center;
  font-family: "Belanosima", sans-serif;
  font-size: 48px;
  max-width: 450px;
  margin: auto;
  color: white;
}

.paragraf-con-5 {
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  max-width: 500px;
  margin: auto;
  padding-top: 35px;
}

.content-con-5 {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-arrow {
  width: 18px;
  height: 29px;
  margin-right: 200px;
}

.left-arrow img {
  width: 100%;
  height: 100%;
}

.oval-img {
  width: 145px;
  height: 145px;
  border-radius: 100%;
  margin-right: 200px;
}

.oval-img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.right-arrow {
  width: 18px;
  height: 29px;
}

.right-arrow img {
  width: 100%;
  height: 100%;
}

.name {
  padding-top: 30px;
  text-align: center;
  color: white;
  font-family: "Belanosima", sans-serif;
  font-size: 24px;
}

.name p {
  padding-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.paragraf-akhir {
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  max-width: 500px;
  margin: auto;
  padding-top: 35px;
}

/* -------------CONTAINER -- 6 ---------- */

.container-6 {
  background-color: #eaeaea;
  padding-top: 50px;
  padding-bottom: 80px;
}

.title-con-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-about-6 h4 {
  margin-right: 40px;
  max-width: 550px;
  font-family: "Belanosima", sans-serif;
  font-size: 48px;
  color: #0540f2;
}

.right-about-6 {
  max-width: 400px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.btn-con-6 {
  margin-top: 50px;
  margin-left: 250px;
  width: 150px;
  height: 30px;
  border-radius: 60px;
  background-color: #0540f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-con-6:hover {
  border: 1px solid;
  cursor: pointer;
  background-color: #00279c;
}

.btn-con-6 span {
  font-family: "Belanosima", sans-serif;
  font-size: 18px;
  color: white;
}

.container-cards-6 {
  display: flex;
  justify-content: center;
  /* background-color: aquamarine; */
  width: 70%;
  height: 550px;
  margin: auto;
  margin-top: 50px;
  justify-content: center;
}

.card-pertama {
  width: 320px;
  height: 550px;
  background-color: white;
  border-radius: 25px;
}

.img-card {
  width: 320px;
  height: 280px;
  border-radius: 25px;
  /* background-color: black; */
}

.img-card img {
  width: 100%;
  height: 100%;
}

.btn-img {
  width: 160px;
  height: 40px;
  margin-top: 30px;
  margin-left: 20px;
  border-radius: 20px;
  background-color: #0540f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-img:hover {
  border: 1px solid;
  cursor: pointer;
  background-color: #00279c;
}

.btn-img span {
  font-family: "Belanosima", sans-serif;
  font-size: 18px;
  color: white;
}

.date {
  padding-top: 20px;
}

.date span {
  font-family: "Belanosima", sans-serif;
  font-size: 14px;
  color: black;
  margin-left: 20px;
}

.title-kartu {
  max-width: 250px;
  font-family: "Belanosima", sans-serif;
  font-size: 20px;
  color: #0540f2;
  margin-left: 20px;
  margin-top: 20px;
}

.desc-kartu {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding-left: 20px;
  padding-top: 20px;
  max-width: 250px;
}

.card-kedua {
  width: 320px;
  height: 550px;
  background-color: white;
  border-radius: 25px;
  margin-left: 50px;
}
.card-ketiga {
  width: 320px;
  height: 550px;
  background-color: white;
  border-radius: 25px;
  margin-left: 50px;
}

.last-con-6 {
  padding-top: 200px;
}

.join {
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: "Belanosima", sans-serif;
  font-size: 48px;
  color: #0540f2;
}

.lorem {
  padding-top: 40px;
  max-width: 500px;
  text-align: center;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.btn-6 {
  width: 250px;
  height: 45px;
  border-radius: 60px;
  background-color: #0540f2;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-6:hover {
  border: 1px solid;
  cursor: pointer;
  background-color: #00279c;
}

.btn-6 span {
  font-family: "Belanosima", sans-serif;
  color: white;
  font-size: 18px;
}

/* ----------------Footer-------- */

.footer {
  width: 100%;
  height: 50vh;
  background-color: #0540f2;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content-fot-1 {
  padding-left: 50px;
}

.content-fot-1 h3 {
  font-family: "Belanosima", sans-serif;
  color: white;
  font-size: 48px;
}

.content-fot-1 p {
  max-width: 350px;
  padding-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
}

.content-fot-2 {
  padding-left: 100px;
  text-align: center;
}

.atas {
  font-family: "Belanosima", sans-serif;
  color: white;
  font-size: 20px;
  text-align: left;
}

.bawah {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
}

.bawah span {
  margin-top: 15px;
}

/* --------------KELARRRRRR---------------- */
